{% extends "base.html" %}
{% block title %}Job Listings | JobBoard{% endblock %}

{% block content %}
<div class="col-12" style="margin-top: 100px;">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center mb-4">
    <div>
        <h4 class="fw-bold mb-3 mb-lg-0">{{ jobs.count }} jobs found</h4>
    </div>
    <div>
        <!-- Category Filter -->
        <form method="get">
            <div>
                <div>
                    <select name="category" class="form-select" onchange="this.form.submit()">
                        <option value="">All Categories</option>
                        {% for c in categories %}
                            <option value="{{ c.id }}" {% if request.GET.category|default:'' == c.id|stringformat:'s' %}selected{% endif %}>{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    </div>

    <!-- Jobs -->
    <div class="row g-4 mt-4">
    {% if jobs %}
    {% for job in jobs %}
    <div class="col-md-6">
        <div class="job-card">
        <div class="d-flex align-items-start justify-content-between mb-3">
            <div class="d-flex align-items-center">
            <div>
                <h6 class="mb-0"><a href="#" class="text-decoration-none">{{ job.title }}</a></h6>
                <small class="text-muted">{{ job.company_name }} • {{ job.location }}</small>
            </div>
            </div>
        </div>
        <small class="text-muted">{{ job.date_posted|date:"M d, Y" }} • {{ job.applications.count }} applicants</small>
        <div class="mt-3">
            <a href="{% url 'job-detail' job.id %}" class="btn btn-outline-primary btn-sm">View Details</a>
        </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h4 class="text-center mt-3">No jobs Found.</h4>
    {% endif %}
    </div>
</div>
{% endblock %}
